:root{
    --background-color: #292828;
    --container-background: #686767;
    --shadow-color: #9e9b9bc5;
}
@font-face {
    font-family: 'WebFont';
    src: url('fonts/BebasNeue-Regular.ttf');
}
 *{
    padding: 0;
    margin: 0;
 }
.main__body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.list__container{
    border-radius: 10%;
    box-shadow:0 0 20px var(--shadow-color); 
    background-color: var(--container-background);
    width: 70vw;
    height: 40vw;
    display: flex;
    text-align: center;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
}
.list__title{
    font-size: 5vw;
    font-weight: bolder;
    color: #0d277e;
    font-family: 'WebFont';
}

.insert__wrapper{
    padding-top: 0vh; 
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#item__input{
    font-size: 20px;
    width: 20vw;
    height: 3vh;
    margin: 0;
    padding: 0;
    border-color: transparent;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.item__list{
    list-style: none;
    width: 24vw;
    max-height: 90%;
}

.item__list .test:first-of-type{
    display: none;
}
.test{
    padding-top: .5vh;
    display: inline-flex;
    min-width: 24vw;
}
.test__input{
    background-color: white;
    border: 5px white;
    font-size: 20px;
    width: 100%;
}
img{
    background-color: white;
    padding-left: 5px;
}
img:hover{
    cursor: pointer;
}
#submit__button{
    font-family: 'Anton';
    vertical-align: center;
    height: 100%;
    width: 4vw;
    outline: none;
    border-color: transparent;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}
#submit__button:hover{
    cursor: pointer;
}
.clear__items{
    background-color: transparent;
    border: none;
    color: rgb(255, 60, 60);
    font-size: 30px;
    font-weight: bold;
    font-family: 'WebFont'
}
.clear__items:hover{
    cursor: pointer;
}